.header {
    width: 100%;
    position: relative;
}

.notification-wrapper {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
}

.header__notification {
    padding: 10px;
    line-height: 21px;
    text-align: center;
    z-index: 2;
    &_beige {
        background-color: $golden-brown;
    }

    &_grey {
        background-color: $grey-background;
    }
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 50px 15px;
    margin-top: 82px; // изменить в моб
}

.header__logo {
    display: inline-block;
    margin-right: 40px;
}

.header__menu {
    display: flex;
    list-style: none;
    padding-left: 0;

    &-group {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    &__item {
        display: inline-block;
        margin-right: 25px;
        text-decoration: none;
        color: inherit;
        font-size: 14px;
    }
}

.header__login-group {
    display: flex;
    align-items: center;

    &__item {
        display: inline-block;
        margin-left: 30px;
        text-decoration: none;
        color: $white;
    }
}